* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020631;
  font-family: Arial, sans-serif;
}

.app {
  margin-top: 5%;
  padding: 20px;
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  text-align: center;
  color: white;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.app .input input  {
  width: 100%;
  height: 1.6em;
  border: none;
  outline: none;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}

.todo-columns {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; /* Align columns side by side */
  flex-wrap: wrap; /* Ensures they stack if the screen is small */
}

.app .todos {
  margin: 10px ;
  background: #f8f9fa;
  padding: 5px;
  border-radius: 5px;
  width:45% /* Adjust width to fit two columns */
}

.app .todos h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #020631;
}

.app .todos .todo {
  margin-bottom: 0.8em;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.app .todos .todo .left {
  display: flex;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 10px;
  font-size: small;
  font-weight: 700;
  color: grey;
  
}

.app .todos .todo .right {
  display: flex;
  align-items: center;
}

.app .todos .todo .right .date {
  font-size:x-small;
  color: #888;
  margin-right: 3px;
}
